In [69]:
import numpy as np
import pandas as pd
from collections import Counter

In [70]:
df = pd.read_csv("./data.csv")
df.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [71]:
df.sort_values(['budget'], ascending=False).iloc[0]["original_title"]

"The Warrior's Way"

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [72]:
df.sort_values(['runtime'], ascending=False).iloc[0]["original_title"]

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [73]:
df.sort_values(['runtime'], ascending=True).iloc[0]["original_title"]

'Winnie the Pooh'

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [74]:
df['runtime'].mean()

109.65343915343915

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [75]:
df['runtime'].median()

106.5

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [76]:
df['profit'] = (df['revenue'] - df['budget'])
df.sort_values(['profit'], ascending=False).iloc[0]['original_title']

'Avatar'

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [77]:
df.sort_values(['profit'], ascending=True).iloc[0]['original_title']

"The Warrior's Way"

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [78]:
len(df[df['profit'] > 0])

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [79]:
df[df['release_year'] == 2008].sort_values(['revenue']).iloc[-1]["original_title"]

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [80]:
df[df['release_year'].isin([2012, 2013, 2014])].sort_values(['profit']).iloc[0]["original_title"]

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [81]:
df['genres'].str.split("|").explode().value_counts().index[0]

'Drama'

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [82]:
df[df['profit']>0]['genres'].str.split("|").explode().value_counts().index[0]

'Drama'

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [83]:
df['director'].value_counts().index[0]

'Steven Soderbergh'

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [84]:
df[df['profit']>0]['director'].value_counts().index[0]

'Ridley Scott'

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [85]:
df.groupby(['director'])['profit'].sum().sort_values().index[-1]

'Peter Jackson'

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [86]:
df1 = df.copy()
df1['cast'] = df1['cast'].str.split("|")
df1.explode("cast")\
    .groupby("cast")\
    .sum()\
    .sort_values("profit", ascending=False) \
    .index[0]

'Emma Watson'

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [87]:
df1 = df.copy()[df['release_year']==2012]
df1['cast'] = df1['cast'].str.split("|")
df1.explode("cast")\
    .groupby("cast")\
    .sum()\
    .sort_values("profit")\
    .index[0]

'Kirsten Dunst'

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [88]:
df1 = df.copy()[df['budget']>df['budget'].mean()]
df1['cast'].str.split("|").explode().value_counts().index[0]

'Matt Damon'

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [89]:
df1 = df.copy()
df1['cast'] = df1['cast'].str.split("|")
df1['genres'] = df1['genres'].str.split("|")
df1 = df1.explode("cast").explode("genres")
df1[df1['cast'] == 'Nicolas Cage']['genres'].value_counts() \
    .index[0]

'Action'

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [90]:
df1 = df.copy()
df1['production_companies'].str.split('|').explode().value_counts() \
    .index[0]

'Universal Pictures'

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [91]:
df1 = df[df['release_year'] == 2015]
df1['production_companies'].str.split('|').explode().value_counts() \
    .index[0]

'Warner Bros.'

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [92]:
df1 = df.copy()

df1['genres'] = df1['genres'].str.split("|")
df1['production_companies'] = df1['production_companies'].str.split("|")
df1 = df1.explode("genres").explode("production_companies")

df1[df1["genres"] == "Comedy"] \
    .groupby("production_companies").sum() \
    .sort_values("profit", ascending=False) \
    .index[0]

'Universal Pictures'

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [93]:
df1 = df.copy()[df['release_year'] == 2012]

df1['production_companies'] = df1['production_companies'].str.split("|")
df1 = df1.explode("production_companies")

df1 \
    .groupby("production_companies").sum() \
    .sort_values("profit", ascending=False) \
    .index[0]

'Columbia Pictures'

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [94]:
df1 = df.copy()

df1['production_companies'] = df1['production_companies'].str.split("|")
df1 = df1.explode("production_companies")

df1 = df1[df1['production_companies'] == "Paramount Pictures"]

df1.sort_values("profit").iloc[0]["original_title"]

'K-19: The Widowmaker'

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [95]:
df.groupby("release_year").sum() \
    .sort_values("profit") \
    .index[-1]

2015

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [96]:
df1 = df.copy()

df1['production_companies'] = df1['production_companies'].str.split("|")
df1 = df1.explode("production_companies")
df1 = df1[df1['production_companies'] == 'Warner Bros.']

df1.groupby("release_year").sum() \
    .sort_values("profit") \
    .index[-1]

2007

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [155]:
df1 = df.copy()

def month_from_date(val):
    month, day, year = val.split('/')
    return int(month)

df1['month'] = df1['release_date'].apply(month_from_date)
df1['month'].value_counts().index[0]

9

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [156]:
len(df1[df1['month'].isin([6, 7, 8])])

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [167]:
df1[df1['month'].isin([1, 2, 12])] \
    ["director"].str.split("|") \
    .explode() \
    .value_counts() \
    .index[0]

'Peter Jackson'

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [100]:
df2 = df.copy()

df2['year'] = df2["release_year"]
df2["month"] = df2["release_date"].apply(month_from_date)

ym = df2.groupby(["year", "month"])['profit'].sum().reset_index()

t = [(y, ym[ym["year"]==y].sort_values("profit")["month"].iloc[-1]) for y in ym['year'].unique()]

df3 = pd.DataFrame(t, columns=["year", "most_profitable_month"])
df3['most_profitable_month'].value_counts().index[0]

6

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [103]:
df1 = df.copy()

df1['production_companies'] = df1['production_companies'].str.split("|")
df1['len'] = df1['original_title'].apply(len)
df1 = df1.explode("production_companies")
df1.groupby("production_companies").mean() \
    .sort_values("len", ascending=False) \
    .index[0]

'Four By Two Productions'

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [104]:
df1 = df.copy()

df1['production_companies'] = df1['production_companies'].str.split("|")
df1['wc'] = df1['original_title'].str.split(" ").apply(len)
df1 = df1.explode("production_companies")
df1.groupby("production_companies").mean() \
    .sort_values("wc", ascending=False) \
    .index[0]

'Four By Two Productions'

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [106]:
df["original_title"] \
    .str.lower() \
    .str.split(" ") \
    .explode() \
    .str.strip() \
    .sort_values() \
    .unique() \
    .shape[0]

2462

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [153]:
min_perc = np.percentile(df["vote_average"], 99)
df[df["vote_average"] > min_perc]["original_title"]

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
600                                   The Dark Knight
873                                       The Pianist
1082    The Lord of the Rings: The Return of the King
1184                          The Wolf of Wall Street
1192                                 12 Years a Slave
1801                                          Memento
Name: original_title, dtype: object

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [109]:
df1 = df.copy()


def cast_to_pairs(cast): 
    pairs = []
    
    names = cast.split("|")
    
    for i1, n1 in enumerate(names):
        for i2, n2 in enumerate(names):
            if i2 <= i1: 
                continue
                
            pairs.append(' & '.join(sorted([n1, n2])))
            
    return pairs
            

df1['pairs'] = df1['cast'].apply(cast_to_pairs)    
df1.explode('pairs')['pairs'].value_counts()

Daniel Radcliffe & Rupert Grint           8
Daniel Radcliffe & Emma Watson            8
Emma Watson & Rupert Grint                8
Helena Bonham Carter & Johnny Depp        6
Ben Stiller & Owen Wilson                 6
                                         ..
Marg Helgenberger & William Hurt          1
Shari Headley & Steve Harvey              1
Desmond Harrington & Isaiah Washington    1
Jennifer Jason Leigh & Walton Goggins     1
Anna Faris & Shawn Wayans                 1
Name: pairs, Length: 17953, dtype: int64

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [183]:
df1 = df.copy()

df1['director'] = df1['director'].str.split("|")
df1 = df1.explode('director')

df1["one"] = 1
df1["profitable"] = df1["profit"].apply(lambda x: max(0, min(x, 1)))
df2 = df1.groupby("director").sum()[["one", "profitable"]]
df2["%"] = df2["profitable"] * 100 / df2['one']
df2.loc[[
    "Quentin Tarantino", 
    "Steven Soderbergh", 
    "Robert Rodriguez",
    "Christopher Nolan",
    "Clint Eastwood"
]].sort_values("%", ascending=False)

                   one  profitable           %
director
Christopher Nolan    8           8  100.000000
Quentin Tarantino    7           6   85.714286
Clint Eastwood      12          10   83.333333
Steven Soderbergh   13          10   76.923077
Robert Rodriguez    11           8   72.727273

# Submission

In [130]:
len(answer_ls)

5

In [14]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

   Id  Answer
0   1       1
1   2       1
2   3       1
3   4       1